<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Full Page Test1</title>
</head>
<body>
    <div id="Homepage" class="wrap">
        <header>
            <p><span class="chapter">1</span></p>
            <h3 class="chapterName">homePage</h3>
        </header>

        <section class="card">
            <img src="/images/gravatar.jpeg" alt="avatar" class="img-circle">
            <p><span class="name">周继诚</span></p>

            <blockquote>
                <p>Greatness Form Small Beginning</p>
                <footer>Francis Drake quoted in <cite title="Source Title">Uncharted 3</cite></footer>
            </blockquote>
        </section>
    </div>

    <div id="basicInformation" class="wrap">
        <header>
            <p><span class="chapter">2</span></p>
            <h3 class="chapterName">basic</h3>
        </header>
    </div>
    <script type="text/javascript" src="/javascripts/resumeTest1.js"></script>
</body>
</html>