@font-face {
    font-family: snell; /*这里是说明调用来的字体名字*/
    src: url('../fonts/Snell.ttf');
    src: url('../fonts/Snell.ttf') format('truetype'),
         url('../fonts/Snell.otf') format('opentype');
}

#Homepage {
    background-color: #F7F7F7;
}

#Homepage .chapter {
    color: #2F2D2E;
}

#basicInfo {
    background-color: #2F2D2E;
    /*background-color: #FFFFFF;*/
}

#basicInfo .chapter {
    color: #F7F7F7;
}


/*下面是通用的*/
.wrap {
    height:100%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

header {
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    width: 35%;
}

.chapter {
    position: relative;
    font-family: snell, "Helvetica Neue", sans-serif;
    font-size: 5rem;
}

.chapterName {
    margin-top: 0;
    text-transform:capitalize; /*首字母大写*/
    color: RGBA(133, 133, 133, 1.00);
}

.chapterName::first-letter {
    font-size: 40px;
}

.chapter::before{
    position: absolute;
    left: 0;
    margin-left: -180px;
    content: url(../images/curve.png)
}

.chapter::after{
    position: absolute;
    left: 0;
    margin-left: 56px;
    content: url(../images/curve.png)
}

.card {
    margin: 40px auto;
    text-align: center;
}

.card > img {
    width: 200px;
    height: 200px;
    clear: both;
    display: block;
    margin: 40px auto;
}

.card > blockquote {
    margin: 30px auto;
}

.name {
    font-size: 25px;
    color: #333333;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(RGBA(169, 190, 211, 1.00)), to(RGBA(23, 44, 97, 1.00)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label-group > a:hover {

}

.horizontal-divider {
    margin: 15px auto;
    padding: 20px;
    color: #f5f5f5;
    display: table;
    white-space: nowrap;
    height: auto;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    letter-spacing: .05em;
}

.horizontal-divider::before {
    background-position: right 1em top 50%;
}

.horizontal-divider::after {
    background-position: left 1em top 50%;
}

.horizontal-divider::before, .horizontal-divider::after {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 45%;
    background-repeat: no-repeat;
    background-image: url('/images/line.png');
}

.page-content {
    width: 90%;
    margin: 15px auto;
}

.basicContent, .workContent {
    font-size: 18px;
    color: #f5f5f5;
    font-family: STKaiti;
    margin-bottom: 30px;
}

.basicImage > img {
    width: 200px;
    height: 200px;
    clear: both;
    display: block;
    margin: 10px auto;
}

.basicText {
    margin-top: 30px;
}

.basicContent span {
    color: #FFDA30;
    padding-right: 10px;
}

.workContent span {
    color: #0299ff;
    padding-right: 10px;
}

.basicInfo {
    padding: 30px;
}

.basicInfo > div > p > span{
    padding-right: 30px;
}